<!DOCTYPE html>
<html>
	<head>
		<title>{{ data['title'] }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
        <link rel="icon" href="../static/images/favicon.ico">
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
    {{ data['content'] | safe }}
    </body>